/*Global*/
body{
	padding: 0;
	margin: 0;
	font-family: 'Noto Serif SC', serif;
	line-height: 2;


}

/*Banner Section*/
.banner_container{
	color: #fff;
	position: relative;
	overflow: hidden;
	height: 100vh;

	

}

.banner_img1{
	background: url(../images/banner2.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	height: 100vh;
	width: 100%;
	
	transition: all 1s ease-in-out;
	animation: back_three 15s  infinite ease-in-out;
	animation-direction: alternate;
}

.banner_img2{
	background: url(../images/banner4.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	height: 100vh;
	width: 100%;
	transition: all 1s ease-in-out;
	animation: back_two 15s  infinite ease-in-out;
	animation-direction: alternate-reverse;
}
	




.banner_img3{
	background: url(../images/banner3.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	height: 100vh;
	width: 100%;
	transition: all 2s ease-in-out;
	animation: back_one 15s  infinite ease-in-out;
	animation-direction: alternate;


	
}

.event_logo{
	text-align: center;
	

}

.svg_container{
	width: 50px;
	height: 50px;
	margin: 0px auto;
}


header{
	background: rgba(0,0,0,.3);
	box-shadow: black 2px 2px 15px;
	position: fixed;
	width: 100%;
	z-index: 3;
	transition: all 1s ease-in-out;

}

.menu{
	position: relative;
	width: 50px;
	height: 100px;
	top: 10px;
	display:none;

}

.bars{
	width: 40px;
	height: 5px;
	border: solid 1px white;
	border-radius: 10px;
	position: absolute;
}

.bars:after{
	content: '';
	width: 40px;
	height: 5px;
	border: solid 1px white;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	left: 0;

}

.bars:before{
	content: '';
	width: 40px;
	height: 5px;
	border: solid 1px white;
	border-radius: 10px;
	position: absolute;
	top: -12px;
	left: 0;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ul li{
	display: inline-block;
	text-decoration: none;
	

}

ul li a{
	text-decoration: none;
	
	
	
}

nav ul{
	text-align: center;
	padding-left: 0;	
}
nav ul li a{
	color: white;
}

nav ul li{
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 12px;
	word-spacing: 10px;
	letter-spacing: 5px;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

nav ul li:first-child{
	font-weight: 900;
	color: white;
	
}
nav ul li:hover{
	box-shadow: black 2px 2px 15px;
	font-size: .7em;
	background-image: linear-gradient(360deg, rgba(0,0,0,.5),rgba(0,0,0,0));
}



.banner_content{
	text-align: center;
}

.testimonials{
	width: 80%;
	margin: 0% auto;
	line-height: 1.8;
	letter-spacing: 5px;
}

.testimonials p {
	color: orange;
}
.arrow_down{
	background:url(../images/arrow1.png);
	width: 50px;
	height: 20px;
	transform: rotate(-90deg);
	margin: 0px auto;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	animation: arrow 2s infinite;

}
h1{
	font-size: 3em;
	margin-bottom: 0;
	letter-spacing: 10px;
	

}

h2{
	padding: 50px;
	text-align: center;
	letter-spacing: 10px;
}

.banner_content_container{
	background:rgba(153,0,93,.0);
	background-image: linear-gradient(360deg, rgba(0,0,0,.9),rgba(0,0,0,.7),rgba(0,0,0,0));
	height: 40vh;
	position: absolute;
	bottom: 0;

}
.banner_content{
	position: relative;
	
}

.content h4{
	letter-spacing: 5px;
}

.banner_content h4{
	font-size: 1.5em;
}	

.arrows{
	position: relative;
	top: 40vh;
}
.arrow_back,.arrow_foward{
	position: absolute;
	cursor: pointer;
}
.arrow_back{
	right: 25px;
}

.arrow_back,.arrow_foward,.arrow1,.arrow2{
	position: absolute;
	cursor: pointer;
}
.arrow_back,.arrow2{
	right: 25px;
}

/*Featured Gallery*/

.gallery{
	width: 100%;
	height: 100vh;
	background:rgba(0,0,0,.5);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease-in-out;

}

.gallery_reveal{

	visibility: visible;
	opacity: 1;

}

.gallery_container{
	position: relative;
	width: 50%;
	height: 100vh;
	margin: 0px auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery_image1{
	position: absolute;
}

.gallery_image2{
	position: absolute;
	z-index: -1;
}

.gallery_image3{
	position: absolute;
	z-index: -2;
}





/*Mini Gallery*/

.mini-gallery{
	
	width: 100%;
	height: 10vh;
	position: absolute;
	bottom: 30px;
	background:rgba(0,0,0,.5);
	cursor: pointer;
	opacity: .3;
	transition: all .2s ease-in-out;

}

.mini-gallery:hover{
	opacity: 1;

}

.mini-images-container{
	width: 100%;
	margin:0px auto;
	height: 10vh;
	padding-top: 20px;
	

}

.mini-images-holder{
	display: flex;
	justify-content: center;
}

.mini_image1{
	
	
	width: 100px;
	height: 100px;
	margin-left: 20px;
	float: left;


}
.mini_image2{
	
	width: 100px;
	height: 100px;
	margin-left: 20px;
	float: left;

}
.mini_image3{
	
	width: 100px;
	height: 100px;
	margin-left: 20px;
	float: left;

}

.mini_image1:hover,.mini_image2:hover,.mini_image3:hover{
	border: 4px white solid;
}

.gal img{
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.gal img:hover{
	transform: scale(.9);
}

.cross{
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
	right: 10%;
	top: 10vh;
	z-index: 2;
}

.bar1{
	width: 50px;
	height: 3px;
	background: white;
	position: absolute;
	transform: rotate(45deg);
	top:20px;


}

.bar2{
	width: 50px;
	height: 3px;
	background: white;
	position: absolute;
	transform: rotate(-45deg);
	top:20px;
}





/*Content*/

.content{
	text-align: center;
}
.content h4{
	font-size: 14px;

}

.index_content{
	font-size: 12px;
	color: #777777;
}

.cont{
	padding: 100px;
	opacity: 0;
	transform: translateX(-50px);
}



.sub{
	margin-top: -35px;
	font-size: 20px;
	letter-spacing: 10px;
}

.content_line hr{
	margin: 100px 150px 0 150px;
}
.reveal{
	opacity: 1;
	transition: all 1s ease-in-out;
	transform: translateX(0px);
}

.reveal2{
	opacity: 1;
	transition: all 1s ease-in-out;
	transform: translateY(0px);
}




/*Footer*/
footer{
	margin: 50px;
}

footer h4{
	color: #49fff8;
}

.footer_content{
	font-size: 14px;
	width: 80%;	
}

@media only screen and (max-width: 1601px){
	.banner_content_container{
		height: 60vh;
	}
}

@media only screen and (max-width: 1281px){
	.banner_content_container{
		height: 60vh;
		font-size: 12px;
	}

	.sub{
		font-size: 12px;
		margin-top: -20px;
	}
}

@media only screen and (max-width: 600px){
	.menu{
		display: block;
	}
	header{
		height: 80px;
		overflow: hidden;
		
		transition: all .5s ease-in-out;
	}

	.menu_reveal{
		height: 500px;
		background: rgba(0,0,0,.8);
	}

	.arrows{
		display: none;
	}

	.event_logo{
		opacity: 0;
	}


}

@media (min-width: 1024px) and (min-height: 1366px){
	.banner_content_container{
		height: 40vh;
		font-size: 18px;
	}

	.sub{
		font-size: 18px;
		margin-top: 0px;
	}
}

@media (min-width: 768px) and (min-height: 1024px){
	nav ul li {
		padding: 30px;
		text-align: center;
	}
	
}

@media (max-width: 320px) and (max-height: 568px){

	.testimonials{
		display: none;
	}
}

@media (max-width: 320px) and (max-height: 568px){

	.testimonials{
		display: none;
	}
}

@media (max-width: 360px) and (max-height: 640px){

	.testimonials{
		font-size: 10.5px;
	}
}


